@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DungGeunMo";
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #242424;
  color: #ffffff;
}
